.background-image-dark {
  background: url("public/assets/images/bg-desktop-dark.webp") center
    center/cover no-repeat;
}

.background-image-light {
  background: url("src/assets/images/bg-desktop-light.webp") center center/cover
    no-repeat;
}

.image-container {
  background: url("src/assets/images/bg-desktop-light.webp") center center/cover
    no-repeat;
  height: 17.7rem;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .image-container {
    background: url("assets/images/bg-desktop-dark.webp") center center/cover
      no-repeat;
  }
}
